input[type=text] {
  width: 10%;
  padding: 5px 10px;
  border: 2px solid red;
  border-radius: 8px;
  background-color: white;
  background-image: url('../images/search.png');
  background-position: 10px 10px;
  color: black;
}

input[type=text]:focus {
  outline: none;
  border: 2px solid lightblue;
  border-radius: 8px;
  background-color: lightblue;
}
